package ${homePackage}.dao;

import ${homePackage}.domain.${rawName};

import org.apache.commons.configuration.Configuration;
import org.apache.hadoop.hbase.client.Scan;

import com.nook.hbase.dao.ExportDao;

public class ${rawName}Dao extends ExportDao<${rawName}, String> {//FXIME String
	@Override
	public Scan getExportScan(Configuration config){
		Scan scan =  new Scan(); 
		
		return scan;//or build scan based on config		
	}

}
